body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

span {
  font-weight: bold;
}

nav {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

.fa-circle {
  font-size: 34px;
  margin-right: 5px;
}

nav h1 {
  font-size: 40px;
  margin: 12px 40px;
}

#nav-elements {
  display: flex;
  justify-content: space-evenly;
  margin-right: 15px;
}

.icons {
  padding: 20px;
}

main ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  margin-left: 77px;
  margin-bottom: 5px;
}

main li {
  padding: 10px;
}

main li.active:hover {
  font-weight: bold;
}

.main-blocks {
  border: 2px solid lightcoral;
  margin: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

#left-section {
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

h2 {
  font-weight: 700;
  font-family: "Rubik";
}

h4 {
  font-weight: normal;
  margin: 0;
}

.footer-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-options ul {
  margin: 0;
}

.footer-options li {
  padding: 0;
}

#right-section {
  border: 2px solid yellow;
}
