body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

span {
  font-weight: bold;
}

nav {
  /*border: 2px solid black;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.fa-circle {
  font-size: 34px;
  margin-right: 5px;
}

nav h1 {
  font-size: 40px;
  margin: 12px 40px;
}

#nav-elements {
  display: flex;
  justify-content: space-evenly;
  margin-right: 15px;
}

.icons {
  padding: 20px;
}

header ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
  margin-left: 77px;
  margin-bottom: 5px;
  margin-right: 32%;
  border-bottom: 1px solid gray;
}

header li {
  padding: 10px;
}

header li.active {
  font-weight: bold;
  border-bottom: 2px solid black;
}
main {
  margin-top: 0;
}

main ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.main-blocks {
  border: 2px solid lightcoral;
  margin: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

#left-section {
  /*border: 2px solid green;*/
  border-right: 1px solid gray;
}

.block {
  /*border: 3px solid red;*/
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

h2 {
  font-weight: 700;
  font-family: "Rubik";
  margin-bottom: 5px;
}

h4 {
  font-weight: normal;
  margin: 0;
  opacity: 0.7;
}

.footer-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-options ul {
  margin: 0;
}

.footer-options li {
  padding: 5px 5px;
}

#right-section {
  border: 2px solid yellow;
}
